*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(skyblue,pink,white);
  background-repeat: no-repeat;
}
.apph1
{
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 35px;
  cursor: pointer;
}